version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./app:/app
    

  db:
    image: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: example
    ports:
      - "33061:3306"

  adminer:
    image: adminer
    ports:
      - "8080:8080"

  test:
    image: ta23a/test
    depends_on:
      - db
    command: tail -f /dev/null
