services:
  db:
    image: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: example
    ports:
      - "33061:3306"

  adminer:
    image: adminer
    ports:
      - "8080:8080"

  test:
    image: ta23a/test
    depends_on:
      - db
    command: tail -f /dev/null   # keep it running
